## Python Tutorial Session 1:

##### Basic Arthimetic Operations in Python:

In [14]:
x = 3
y = 2
tajs_age = 26
kaelens_age = 19
big_number = 40

In [15]:
print(x)
print(x+y)

3
5

In [16]:
x + y

5

In [17]:
x / y

1.5

In [18]:
tajs_age - kaelens_age

7

In [19]:
x * y

6

In [20]:
big_number % 3

1

In [23]:
11 % 4

3

#### List Types:

In [24]:
my_list = [1, 2, 3, 4, 6, 10, 15]

In [79]:
# List have 0 indexing:
my_list[5]

10

In [25]:
print(my_list)

[1, 2, 3, 4, 6, 10, 15]

In [26]:
len(my_list)

7

In [27]:
sum(my_list)

41

In [28]:
max(my_list)

15

#### Loops:

Loops are a way of iterating/looping through an iterable like a list.

In [33]:
list_2 = [1, 2, 3, 4]
my_sum = 0

for i in list_2:
    print(i * 10)

10
20
30
40

In [86]:
list_of_names = ["Taj", "Radhika", "Kaelen", "Shriya"]
for i in list_of_names:
    print(i)

Taj
Radhika
Kaelen
Shriya

In [84]:
list_of_names[2]

'Kaelen'

#### Conditionals: 

Conditionals are a way of specifying/restricting which code should run providing certain conditions are met.

In [34]:
my_string = "Hello Taj"

In [35]:
print(my_string)

Hello Taj

In [37]:
list_3 = [1,2,3,4, 5, 6, 7, 8,1 ,1, 1]
print(len(list_3))

11

In [44]:
list_4 = [3, 3, 3, 3]
list_5 = [1, 2, 3]

In [45]:
if len(list_4) > 5 and len(list_5) > 2:
    print("Hello")
elif len(list_4) == 5 or len(list_5) >= 2:
    print("Taj")
else:
    print("Bye")

Taj

#### Custom Functions:

In [46]:
# add 5 to variables: 

a = 10
b = 20
c = 15

print(a + 5)
print(b + 5)
print(c + 5)

15
25
20

In [59]:
def add_five(x):
    y = x + 1
    z = y + 2
    k = z + 2
    return k

In [65]:
add_five(10)
add_five(5)

10

In [68]:
def square_func(x : float) -> float:
    return x * x

In [69]:
square_func(5)

25

In [101]:
def my_quadratic_curve(a : float, b: float, c: float, x: float) -> float:
    return a * square_func(x) + b * x + c

In [73]:
my_quadratic_curve(1, 2, 3, 2)

11

#### F Strings:

In [91]:
my_name = "Kaelen"
print(f"My Name is : {my_name}")

My Name is : Kaelen

In [100]:
my_list = [1,2,3,4,5]

for item in my_list:
    remainder = item % 2
    # this check if even
    if item % 2 == 0:
        print(f"{item} is even")
    else: 
        print(f"{item} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

#### Task Practice

Task 1: Write a function that takes in a list of numbers AND an another number, and returns 1 if the item is in the list or 0 if it's not in the list.

In [111]:

my_list = [10, 12, 55, 11, 8, 4, 3, 4, 31]

def list_searcher(list_to_search: list, value_to_search_for: float) -> int:
    item_is_in_list = 0
    for item in list_to_search:
        if item == value_to_search_for:
            item_is_in_list = 1
        else:
            continue
    return item_is_in_list

In [113]:
list_searcher(my_list, 13)

0

Task 2: Write a function that takes in a list and another variable and returns the number of times the variable appears in the list.

In [117]:
my_list = [1, 2, 3, "Taj", "Radhika", 1.5, 7.3, 2, 2, 3, "Kaelen", "Taj", 1.5, 6.3, "Kaelen", 2, 3]
my_var = "Shriya"
new_list = ["Tin", "Tin", "Kinder Bueno", "Tin", "Kinder Bueno"]

def item_counter(list_to_read: list, item_to_count: float | str) -> int:
    counter = 0
    for item in list_to_read:
        if item == item_to_count:
            counter = counter + 1
        else:
            continue 
    return counter

In [116]:
item_counter(new_list, "Kinder Bueno")

2